<div class="container mt-3">
  <div class="col-md-10 col-md-offset-1">
    <div>
      <a [routerLink]="['/producciones']" class="btn btn-light"> Volver</a>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="well well bs-component">
      <form novalidate class="form-horizontal" (ngSubmit)="editarProduccion(produccion)" #editarProduccionForm="ngForm">
        <fieldset>
          <legend>Editar producción con ID: {{produccion.idProduccion}}, y producto: {{produccion.idProducto}}</legend>

          <input type="hidden" name="idProducto" [(ngModel)]="produccion.idProducto" #idProducto="ngModel">

          <div class="form-group">
            <label for="title" class="col-lg-4 control-label">Nombre del trabajador</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="trabajador" name="trabajador" placeholder="Nombre del trabajador" [(ngModel)]="produccion.trabajador" #trabajador="ngModel"/>
            </div>
          </div>

          <div class="form-group">
            <label for="cantidad" class="col-lg-2 control-label">Cantidad</label>
            <div class="col-lg-10">
              <input type="number" class="form-control" rows="3" id="cantidad" name="cantidad" placeholder="Cantidad" min="1" step="1" [(ngModel)]="produccion.cantidad" #cantidad="ngModel" required minlength="1"/>
              <div *ngIf="cantidad.errors?.required && cantidad.touched" class="alert alert-danger mt-2">
                La cantidad es obligatoria
              </div>
              <div *ngIf="cantidad.errors?.minlength && cantidad.touched" class="alert alert-danger mt-2">
                Minimo 1 caracter
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="fechaVenta" class="col-lg-4 control-label">Fecha de producción</label>
            <div class="col-lg-10">
              <input type="date" class="form-control" id="fechaProduccion" name="fechaProduccion" min="2020-01-01" [ngModel]="produccion.fechaProduccion | date:'yyyy-MM-dd'" (ngModelChange)="produccion.fechaProduccion=$event" #fechaProduccion="ngModel" required />
              <div *ngIf="fechaProduccion.errors?.required && fechaProduccion.touched" class="alert alert-danger mt-2">
                La fecha es obligatoria
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="title" class="col-lg-4 control-label">Observaciones</label>
            <div class="col-lg-10">
              <textarea type="text" class="form-control" id="observaciones" name="observaciones" placeholder="Observaciones" [(ngModel)]="produccion.observaciones" #observaciones="ngModel" minlength="2"></textarea>
              <div *ngIf="observaciones.errors?.minlength && observaciones.touched" class="alert alert-danger mt-2">
                Minimo 2 caracteres
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <a class="btn btn-light" [routerLink]="['/producciones']">Cancelar</a>
              <button type="submit" class="btn btn-primary" [disabled]="editarProduccionForm.invalid">Editar Producción</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
