<div class="container mt-3">
  <div class="col-md-10 col-md-offset-1">
    <div>
      <a [routerLink]="['/productos']" class="btn btn-dark"> Volver</a>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="well well bs-component">
      <form novalidate class="form-horizontal" [formGroup]="crearVentaForm" (ngSubmit)="crearVenta(crearVentaForm)">
        <fieldset>
          <legend>Agregar venta al producto con ID: {{venta.idProducto}} ({{nombreProducto}})</legend>

          <input type="hidden" formControlName="idProducto" >

          <input type="hidden" formControlName="cantidadMaxima" >

          <div class="form-group">
            <label for="title" class="col-lg-4 control-label">Nombre del comprador</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" formControlName="comprador" placeholder="Nombre del comprador"/>
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-lg-2 control-label">Cantidad</label>
            <div class="col-lg-10">
              <input type="number" class="form-control" rows="3" id="cantidad" formControlName="cantidad" placeholder="Cantidad" min="0" max="{{maxVenta}}" step="1" required minlength="1"/>

              <div *ngIf="f.cantidad.errors?.required && f.cantidad.touched" class="alert alert-danger mt-2">
                La cantidad es obligatoria
              </div>
              <div *ngIf="f.cantidad.errors?.minlength && f.cantidad.touched" class="alert alert-danger mt-2">
                Minimo 1 caracter
              </div>
              <div class="alert alert-info mt-2">
                El stock es: {{maxVenta}}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="fechaVenta" class="col-lg-4 control-label">Fecha de venta</label>
            <div class="col-lg-10">
              <input type="date" class="form-control" formControlName="fechaVenta" min="2020-01-01" required />
              <div *ngIf="f.fechaVenta.errors?.required && f.fechaVenta.touched" class="alert alert-danger mt-2">
                La fecha es obligatoria
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="tipoPago" class="col-lg-4 control-label">Tipo de pago</label>
            <div class="col-lg-10">
              <select type="text" class="form-control" id="tipoPago" formControlName="tipoPago" required >
                <option value="Efectivo">Efectivo</option>
                <option value="Credito">Crédito</option>
                <option value="Cheque">Cheque</option>
              </select>
              <div *ngIf="f.tipoPago.errors?.required && f.tipoPago.touched" class="alert alert-danger mt-2">
                El nombre del producto es obligatorio
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="precioUnitario" class="col-lg-4 control-label">Precio Unitario</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" formControlName="precioUnitario" placeholder="00.00" required minlength="1" />
              <div *ngIf="f.precioUnitario.errors?.required && f.precioUnitario.touched" class="alert alert-danger mt-2">
                El precio es obligatorio
              </div>
              <div *ngIf="f.precioUnitario.errors?.minlength && f.precioUnitario.touched" class="alert alert-danger mt-2">
                Minimo 1 caracteres
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="title" class="col-lg-4 control-label">Observaciones</label>
            <div class="col-lg-10">
              <textarea type="text" class="form-control" formControlName="observaciones" placeholder="Observaciones" ></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <a class="btn btn-light" [routerLink]="['/productos']">Cancelar</a>
              <button type="submit" class="btn btn-primary" [disabled]="crearVentaForm.invalid">Agregar Venta</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
