<div class="container mt-3">
  <div class="col-md-12">
    <div class="well well bs-component">
      <form novalidate class="form-horizontal" (ngSubmit)="editarVenta(venta)" #editarVentaForm="ngForm">
        <fieldset>
          <legend>Editar venta con ID: {{venta.idVentas}}, y producto: {{nombreProducto}}</legend>

          <input type="hidden" name="idProducto" [(ngModel)]="venta.idProducto" #idProducto="ngModel">

          <mat-form-field>
            <input matInput id="comprador" name="comprador" placeholder="Nombre del comprador" [(ngModel)]="venta.comprador" #comprador="ngModel"/>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" id="cantidad" name="cantidad" placeholder="Cantidad" min="0" step="1" [(ngModel)]="venta.cantidad" #cantidad="ngModel" required minlength="0"/>
            <mat-hint align="end">Stock: {{maxVenta}}</mat-hint>
            <mat-error *ngIf="cantidad.errors?.required && cantidad.touched">
              La cantidad es obligatoria
            </mat-error>
            <mat-error *ngIf="cantidad.errors?.minlength && cantidad.touched">
              Minimo 0
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="date" id="fechaVenta" name="fechaVenta" placeholder="Fecha de venta" min="2020-01-01" [ngModel]="venta.fechaVenta | date:'yyyy-MM-dd'" (ngModelChange)="venta.fechaVenta=$event" #fechaVenta="ngModel" required />
            <mat-error *ngIf="fechaVenta.errors?.required && fechaVenta.touched">
              La fecha es obligatoria
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select id="tipoPago" name="tipoPago" placeholder="Tipo de pago" [(ngModel)]="venta.tipoPago" #tipoPago="ngModel" required >
              <mat-option value="Efectivo">Efectivo</mat-option>
              <mat-option value="Credito">Crédito</mat-option>
              <mat-option value="Cheque">Cheque</mat-option>
            </mat-select>
            <mat-error *ngIf="tipoPago.errors?.required && tipoPago.touched">
              El nombre del producto es obligatorio
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" id="precioUnitario" name="precioUnitario" placeholder="Precio Unitario" [(ngModel)]="venta.precioUnitario" #precioUnitario="ngModel" required minlength="1" />
            <mat-error *ngIf="precioUnitario.errors?.required && precioUnitario.touched" >
              El precio es obligatorio
            </mat-error>
            <mat-error *ngIf="precioUnitario.errors?.minlength && precioUnitario.touched">
              Minimo 1 caracteres
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput rows="2" id="observaciones" name="observaciones" placeholder="Observaciones" [(ngModel)]="venta.observaciones" #observaciones="ngModel" ></textarea>
          </mat-form-field>

          <div class="form-group">
              <a class="btn btn-dark" [routerLink]="" (click)="cerrarDialog()">Cancelar</a>
              &nbsp;
              <button type="submit" class="btn btn-primary" [disabled]="editarVentaForm.invalid">Editar Venta</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
