<div class="container mt-3">
  <div class="row">

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">Productos fabricos por SEMAGEN</p>
          <a class="nav-link btn btn-primary" [routerLink]="['/productos']">ver</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ventas</h5>
          <p class="card-text">Listado de venta realizadas</p>
          <a class="nav-link btn btn-primary" [routerLink]="['/ventas']">ver</a>
        </div>
      </div>

    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Produccioness</h5>
          <p class="card-text">Listado de producciones</p>
          <a class="nav-link btn btn-primary" [routerLink]="['/producciones']">ver</a>
        </div>
      </div>
    </div>
  </div>
</div>
