<div class="container-fluid mt-3">
  <div>
    <p class="alert alert-warning">para agregar una nueva produccion, primero debes seleccionar un producto. <a [routerLink]="['/productos']" class="btn btn-light">Ver productos</a></p>
  </div>
  <div class="table-responsive mt-3">
  <table class="table table-striped table-bordered">
      <thead class="thead-dark">
          <tr>
              <td>Id</td>
              <td>Trabajador</td>
              <td>Cant.</td>
              <td>Fecha de produccion</td>
              <td>Observaciones</td>
              <td>Producto</td>
              <td>Acciones</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let produccion of producciones | async" >
            <td>{{produccion.idProduccion}}</td>
            <td>{{produccion.trabajador}}</td>
            <td>{{produccion.cantidad}}</td>
            <td>{{produccion.fechaProduccion | date:'yyyy-MM-dd'}}</td>
            <td>{{produccion.observaciones}}</td>
            <td>{{produccion.producto.nombreProducto}}</td>
            <td>
              <a [routerLink]="['/producciones/edit', produccion.idProduccion]" class="btn btn-info">Editar</a>
            </td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
