<div class="container-fluid mt-3">
  <div>
    <a [routerLink]="['/productos/create']" class="btn btn-success">Agregar nuevo producto</a>
  </div>
  <div class="table-responsive mt-3">
  <table class="table table-striped table-bordered">
      <thead class="thead-dark">
          <tr>
              <td>Id</td>
              <td>Código</td>
              <td>Nombre</td>
              <td>Stock</td>
              <td>Acciones</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let producto of productos | async" >
            <td>{{producto.idProducto}}</td>
            <td>{{producto.codigoProducto}}</td>
            <td>{{producto.nombreProducto}}</td>
            <td>{{producto.stock}}</td>
            <td>
              <a [routerLink]="['/ventas/create', producto.idProducto]" class="btn btn-primary">Vender</a>
              <a [routerLink]="['/producciones/create', producto.idProducto]" class="btn btn-secondary">Producir</a>
              <a [routerLink]="['/productos/edit', producto.idProducto]" class="btn btn-warning">Editar</a>
              <a [routerLink]="['/productos/delete', producto.idProducto]" class="btn btn-danger">Borrar</a>
            </td>
          </tr>
      </tbody>
  </table>
  </div>

</div>
